version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
    one:
        executor:
        executor:
            name: node/default
            tag: '10.4'
        steps:
            - checkout
            - run: npm install
workflows:
    do_one:
        jobs:  
            - one
    

