version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
    one:
        executor:
            name: node/default
        steps:
            - checkout
            - run: node --version
            - run: npm install
workflows:
    do_one:
        jobs:  
            - one
    

